body {
  background: slategray;
  text-align: center;
}

h1 {
  color: orange;
}

p {
  color: purple;
}

img {
  max-width: 30%;
  float: right;
}

div {
  background-color: steelblue;
  /* background: can list multiple properties at once whereas background-color specifies only color property */
}

ul,
li {
  text-align: left;
}

button {
  background-color: red;
}

.btn {
  border: 5px green dotted;
}

#bigboy {
  height: 75px;
}
