body {
  background: slategray;
  text-align: center;
}

h1 {
  color: orange;
  font-family: 'Supermercado One', cursive;
}

p {
  color: purple;
}

img {
  max-width: 30%;
  float: right;
}

div {
  background-color: steelblue;
  /* background: can list multiple properties at once whereas background-color specifies only color property */
  padding-bottom: 15px;
}

#content {
  margin: 50px;
  padding: 25px;
  font-size: 30px;
  border-radius: 200px;
  border: tan 5px solid;
}

ul,
li {
  justify-content: center;
}

button {
  background-color: red;
}

.btn {
  border: 5px green dotted;
}

#bigboy {
  height: 75px;
}

.flex-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px black solid;
}

.nested-container {
  display: flex;
  flex-direction: column-reverse;
  border: 1px orangered solid;
  width: 20%;
}

.flex-item {
}
